.booking_start_date {
  text-align: -webkit-center;
}

.booking_name {
  text-align: left;
}

.booking_name {
  width: 618px;
  margin: 32px auto;
}

#title {
 text-align: center;
 margin: 20px;
}

.booking-title {
  font-size: 18px;
  font-weight: 700;
  width: 618px;
  margin: auto;
}

#calendar-form {
  margin-bottom: 32px;
  margin-top: 16px;
}

#submit-btn {
  width: 618px;
  margin: auto;
  background-color: grey;
  color: white;
}

.booking-list {
  padding: 0;
  margin-bottom: 0;
}

.bookings-box {
  width: 618px;
  margin: 16px auto 32px auto;
  padding: 16px 16px 2px 16px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0,0,0,0.08);
}
